.testTitle {
	letter-spacing: -0.31px;
	font-stretch: normal;
	font-family: Roboto;
	font-style: normal;
	text-align: center;
	position: relative;
	font-weight: bold;
	line-height: 1.14;
	color: #43adac;
	font-size: 20px;
	top: 20px;
}
.general {
	background-color: #43adac;
	display: flex;
	height: 28px;
}
.progressWrapper {
	border: solid 2px #43adac;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	top: 30px;
}
.generalText {
	letter-spacing: -0.31px;
	font-stretch: normal;
	font-family: Roboto;
	font-style: normal;
	text-align: center;
	line-height: 1.14;
	margin-left: 25px;
	margin-top: 0.2rem;
	font-weight: 500;
	font-size: 20px;
	color: white;
}
.specificText {
	letter-spacing: -0.31px;
	font-stretch: normal;
	font-family: Roboto;
	font-style: normal;
	text-align: center;
	margin-left: 25px;
	line-height: 1.14;
	font-weight: 500;
	color: #43adac;
	font-size: 20px;
}
.specific {
	align-items: center;
	display: flex;
}
.downProgress::-webkit-scrollbar {
	display: none;
}
.downProgress {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	white-space: nowrap;
	position: relative;
	overflow: scroll;
	left: 35px;
	top: 1px;
}

.breakGeneral {
	margin-left: 25px;
	font-size: 25px;
	color: white;
}
.breakSpecific {
	margin-left: 23px;
	color: #43adac;
	font-size: 25px;
}
.activeStep {
	font-size: 55;
}
